@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC Web Application using Entity Framework Code First Approach</h1>
    <p class="lead">This app performs crud operation on student's data.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Brief Description</h2>
        <p>
          This application performs crud operation for student's data on fields: StudentName, Course, and Age.
        </p>
     </div>

    <div class="col-md-4">
        <h2>Overview</h2>
        <p>Built from scratch using Code First Approach.</p>
     </div>

    <div class="col-md-4">
        <h2>Purpose</h2>
        <p>We can easily create, edit, read, and delete student records using this app.</p>
    </div>
</div>